# -----------------------------------------------------------------
# CODEOWNERS for BYTE
# .,--
# | 
# 
# -----------------------------------------------------------------

# Global owners (Lead of Source)
*                                         @oysterzarskyy
# Maintainers
*                                         @javas-afraid
