# -----------------------------------------------------------------
# CODEOWNERS for BYTE
# .,--
# | 
# 
# -----------------------------------------------------------------

# Global owners (Lead of Source)
*                                         @oysterzarskyy
*                                         @byte.pe
# Maintainers
*                                         @javas-afraid
